.footer-first {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-studio {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.contact-footer {
  margin-top: 20px;
}

.contact-footer-information {
  margin-top: 9px;
}

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
  border-top: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.bootom-address {
  max-width: 231px;
}
.footer__logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-right: 93px;
}
